<html>
  <head>
    <script src="../node_modules/web-component-tester/browser.js"></script>
    <script type="module" src="../dist/components.bundled.js"></script>
  </head>
  <body>
    <proper-name first="Bill" middle="Stanley" last="Preston" suffix="Esquire" id="testcase-1"></proper-name>
    <script>
      suite('<proper-name>', () => {
        test('did render', () => {
          const element = document.getElementById('testcase-1');
          assert.ok(element.shadowRoot.innerHTML.includes('<span class="name">Bill S. Preston</span><span class="suffix">, Esquire</span>'));
        });
      });
    </script>
  </body>
</html>
